<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add card</title>
</head>
<body>
    <h1> Add a new card</h1>
    <form method="post">
        <p>
            color:
            <input type="text" name="color">
        </p>
        <p>
            category:
            <input type="text" name="category">
        </p>
        <p>
            type:
            <input type="text" name="type">
        </p><p>
            hex:
            <input type="text" name="hex">
        </p>
        <button type="submit">submit</button>
    </form>

</body>
</html>